{% extends "layout.html" %}

{% block content %}

<script src="../js/infogrid.js"></script>

<div class="container">
    <div class="row">
        <div class="col lg-2"></div>
        <div class="col lg-3">
            <form method="GET" action="/day/delete/{{current}}">
                <button type="submit" class="btn btn-outline-primary" id="day-button">-Day</button>
            </form>
        </div>
        <h3 id="days-header">Days</h3>
        <div class="col lg-3">
            <form method="POST" id="day-button" action="/day/{{templateDays.length + 1}}">
                <button type="submit" class="btn btn-outline-primary">+Day</button>
            </form>
        </div>
        <div class="col lg-2"></div>
    </div>
</div>

<div class="container align-content-center">
    <div class="row">
        <nav aria-label="..." id="centerDay">
            <ul class="pagination pagination-sm">
            {% if current == 1 %}
                <li class="page-item disabled"><a class="page-link" tabindex="-1">&laquo;</a></li>
            {% else %}
                <a class="page-link" href="/day/{{current - 1}}" tabindex="-1">&laquo;</a>
            {% endif %}

                {% for day in templateDays %}
                    {% if current == day.id %}
                        <li class="page-item active"><a class="page-link" href="{{day.route}}">{{day.id}}</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="{{day.route}}">{{day.id}}</a></li>
                    {% endif %}
                {% endfor %}

            {% if current == templateDays.length %}
                <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/day/{{+current + 1}}">&raquo;</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div id="page-wrap">

            <!--<div class="col col-lg-4">-->
                <div class="info-col">
                    <h2>Hotels</h2>
                    <a class="image hotel">View Image</a>
                    <dl>
                        <dt>Hotel Name 1</dt>
                            <dd>
                                <div class="card">
                                    <img class="card-img-top" src="../" alt="Card image cap">
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </dd>
                        <dt>Hotel Name 2</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Hotel Name 3</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Hotel Name 4</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Hotel Name 6</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Hotel Name 7</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                    </dl>
                </div>
            <!--</div>-->

            <!--<div class="col col-lg-4">-->
                <div class="info-col">
                    <h2>Restaurants</h2>
                    <a class="image batman">View Image</a>
                    <dl>
                        <dt>Super Power</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Costume</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Morality</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Sidekicks</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Vehicles</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Weaknesses</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                    </dl>
                </div>
            <!--</div>-->

            <!--<div class="col col-lg-4">-->
                <div class="info-col">
                    <h2>Activities</h2>
                    <a class="image aquaman">View Image</a>
                    <dl>
                        <dt id="starter">Super Power</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Costume</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Morality</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Sidekicks</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Vehicles</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                        <dt>Weaknesses</dt>
                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</dd>
                    </dl>
                </div>
            <!--</div>-->

        </div>
    </div>
</div>








{% endblock %}
