<html>
<head>
    <title>Trip Planner</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/js/bootstrap.min.js" rel="stylesheet">
    <script src="/jquery/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">

</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <!--<h3 class="masthead-brand">Cover</h3>-->
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
            </div>
        </div>

        <div class="container-fluid" id="main-container">
            <div class="row" id="main-bottom">
                {% block content %}{% endblock %}
            </div>
        </div>


        <!--<div class="cover-container">-->
            <!--<div class="mastfoot">-->
                <!--<div class="inner">-->
                    <!--&lt;!&ndash;<p>	&#169; Charlie Shi & Ryan Skinner 2017</p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    </div>

</div>
</body>
</html>
